.animal {
  margin-bottom: 20px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
  margin-right: 20px;
  width: 350px;
  border-radius: 15px;
  height: 327px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.picture {
  height: 260px;
  border-radius: 15px 15px 0px 0px;
}
.user_logo {
  margin-left: 5px;
  background-color: #d21312;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-right: 7px;
}
.first_letter {
  font-size: 25px;
}
.animalInfo {
  font-weight: bold;
  color: black;
  font-family: 'Heebo';
}
.innerInfo {
  display: flex;
  flex-direction: row;
}
.info {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-left: 15px;
  border-radius: 15px;
  width: 326px;
}
.delete {
  padding-right: 7px;
  background-color: white;
  border-style: none;
  font-size: 20px;
}
.delete:hover {
  font-weight: bold;
  transition: font-weight 250ms ease;
  cursor: pointer;
}
