@import url(https://fonts.googleapis.com/css?family=Heebo&display=swap);

.date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}

.button {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-family: 'Heebo';
  color: black;
  margin-top: 10px;
}
.input {
  height: 50px;
  padding: 5px;
  font-family: 'Heebo';
}
.note {
  height: 100px;
  padding: 5px;
  font-family: 'Heebo';
  text-align: left;
  vertical-align: text-top;
}
.buttons {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: start;
}

.buttons button {
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
  padding-left: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.saveButton {
  color: red;
  background-color: green;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}
.saveButton:hover {
  background-color: darkgreen;
  text-decoration: none;
  transition-duration: 0.1s;
}
.cancelButton {
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}
.cancelButton:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}
.deleteButton {
  background-color: red;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}
.deleteButton:hover {
  background-color: darkred;
  text-decoration: none;
  transition-duration: 0.1s;
}
