.input {
  background-color: white;
  width: 400px;
  height: 20px;
  margin: 5px;
  border-style: none;
  border-color: white;
  padding-left: 10px;
}
.titleBar {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 5px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.4));
  height: 55px;
}

.input:focus {
  outline: none;
  /* Add additional styling as needed */
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: white;
  padding-left: 10px;
  width: fit-content;
  border-radius: 5px;
  border-style: solid;
  margin: 5px;
  border-color: gray;
  border-width: 1.5px;
}
